<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>牛客 - 与世界分享你的知识、经验和见解</title>
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../styles/login.css">
    <meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg">
    <meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9">
    <meta property="qc:admins" content="00544670776201056375">
    <link rel="canonical" href="">
    <meta id="znonce" name="znonce" content="5b6d120cad4b45f3ad5a8683c30594c0">
    <!--[if lt IE 9]>
    <script src="https://static.zhihu.com/static/components/respond/dest/respond.min.js"></script>
    <link href="https://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="/static/components/respond/cross-domain/respond.proxy.js"></script>
    <![endif]-->
    <script type="text/javascript" async="" src="../scripts/za-0.1.1.min.js"></script>
    <script async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="../scripts/instant.e7a17de6.js"></script>
    </head>
<body class="zhi  no-auth">
    <div class="index-main">
        <div class="index-main-body">
            <div class="index-header">
                <h1 class="logo hide-text"><img src="../images/res/nk.png" alt=""></h1>
                <h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
            </div>
            <div class="desk-front sign-flow clearfix sign-flow-simple">
                <div class="view view-signin" data-za-module="SignInForm" style="display: block;">
                    <form novalidate="novalidate">
                        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                        <div class="group-inputs">
                            <div class="email input-wrapper">
                                <input type="text" name="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required="">
                            </div>
                            <div class="input-wrapper">
                                <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                            </div>
                            <div class="input-wrapper captcha-module" data-type="en">
                                <input id="captcha" name="" placeholder="验证码" required="" data-rule-required="true" data-msg-required="请填写验证码" class="is-ignoreValidation">
                                <div class="captcha-container">
                                    <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张" alt="验证码">
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper command clearfix">
                            <button class="sign-button submit" type="submit">登录</button>
                            <button class="sign-button submit" type="submit">注册</button>
                        </div>
                        <div class="signin-misc-wrapper clearfix">
                            <label class="remember-me">
                                <input type="checkbox" name="remember_me" checked="" value="true"> 记住我
                            </label>
                            <a class="unable-login" href="#">无法登录?</a>
                        </div>
                    </form>
                </div>
                <div class="view view-signup selected" data-za-module="SignUpForm" style="display: none;">
                    <form class="zu-side-login-box" action="" id="sign-form-1" autocomplete="off" novalidate="novalidate">
                        <input type="password" hidden="">
                        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                        <div class="group-inputs">
                            <div class="name input-wrapper">
                                <input required="" type="text" name="fullname" aria-label="姓名" placeholder="姓名">
                            </div>
                            <div class="email input-wrapper">
                                <input required="" type="text" class="account" name="phone_num" aria-label="手机号（仅支持中国大陆）" placeholder="手机号（仅支持中国大陆）">
                            </div>
                            <div class="input-wrapper">
                                <input required="" type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）">
                            </div>
                            <div class="Captcha input-wrapper" data-type="cn" data-za-module="Captcha">
                                <div class="Captcha-operate">
                                    <input type="hidden" name="captcha" required="" data-rule-required="true" data-msg-required="请点击图中倒立的文字" value="">
                                    <input type="hidden" name="captcha_type" value="cn" required="">
                                    <label class="Captcha-prompt">请点击图中倒立的文字</label>
                                    <span class="Captcha-refresh js-refreshCaptcha sprite-index-icon-refresh"></span>
                                </div>
                                <div class="Captcha-imageConatiner">
                                    <img class="Captcha-image" alt="验证码" src="../images/res/captcha.gif">
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper command">
                            <button class="sign-button submit" type="submit">注册牛客</button>
                        </div>
                    </form>
                    <div class="QRCode">
                        <button class="QRCode-toggleButton">
                            <span class="sprite-index-icon-qrcode"></span>
                            <span class="QRCode-toggleButtonText ">下载牛客 App</span>
                        </button>
                        <div class="QRCode-card">
                            <div class="QRCode-image"></div>
                            <div class="sprite-index-icon-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/json" class="json-inline" data-name="disabled_components">["back_to_top"]</script>
    <script type="text/json" class="json-inline" data-name="current_user">["","","","-1","",0,0]</script>
    <script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null,false]</script>
    <script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":0,"now":1467946521000,"abtest_mask":"------------------------------","user_attr":[0,0,0,"-","-"],"user_hash":0}</script>
    <script src="../scripts/vendor.ff76fbae.js"></script>
    <script src="../scripts/base.fb262f0e.js"></script>
    <script src="../scripts/common.fed5411f.js"></script>
    <script src="../scripts/page-index.d7b54ac7.js"></script>
    <meta name="entry" content="ZH.entrySignPage" data-module-id="page-index">
    <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
    <div id="zh-tooltip"></div>
    <script type="text/template" class="register-template">
        <div class="title register">
            <h1>加入牛客</h1>
            <h2>与世界分享你的知识、经验和见解</h2>
        </div>
        <div class="view register SignupForm">
            <form action="/register/email">
                <div class="input-wrapper">
                    <input type="text" name="fullname" aria-label="姓名" placeholder="姓名" required>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="phone_num" class="account" data-is-domestic="true" aria-label="手机号（仅支持中国大陆）" placeholder="手机号（仅支持中国大陆）" required>
                </div>
                <div class="input-wrapper toggle-password">
                    <input type="password" hidden>
                    <input type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）" required>
                    <span class="z-ico-show-password"></span>
                </div>
                <div class="input-wrapper captcha-module" data-type="en" >
                    <input id="captcha" name="captcha" placeholder="验证码" required data-rule-required="true" data-msg-required="请填写验证码">
                    <div class="captcha-container">
                        <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
                    </div>
                </div>
                <div class="actions">
                    <button class="submit blue-button">注册</button>
                </div>
                <div class="sns clearfix">
                    <span>已有帐号？<a href="#" class="switch-to-login">登录</a></span>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" class="phone-verification-template">
        <div class="title verification">
            <h1>验证手机</h1>
            <h2>请输入你收到的 6 位数短信验证码</h2>
        </div>
        <div class="view verification">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="phone_num" aria-label="手机号" placeholder="手机号" required>
                </div>
                <div class="input-wrapper verification-code">
                    <input type="text" name="verification_code" aria-label="验证码" placeholder="6 位数验证码" maxlength="6" required>
                    <button type="button" class="send-code">重发验证码</button>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">进入牛客</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" class="login-template">
        <div class="LoginForm">
            <div class="title login">
                <h1>登录牛客</h1>
                <h2>与世界分享你的知识、经验和见解</h2>
            </div>
            <div class="view login">
                <form method="POST">
                    <div class="input-wrapper">
                        <input type="text" name="account" class="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required>
                    </div>
                    <div class="input-wrapper toggle-password">
                        <input type="password" name="password" aria-label="密码" placeholder="密码" required>
                        <span class="z-ico-show-password"></span>
                    </div>
                    <div class="input-wrapper captcha-module" data-type="en" >
                        <input id="captcha" name="captcha" placeholder="验证码" required data-rule-required="true" data-msg-required="请填写验证码">
                    <div class="captcha-container">
                        <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
                    </div>
                    </div>
                    <div class="actions">
                        <button class="submit blue-button">登录</button>
                    </div>
                    <div class="sns clearfix">
                        <label class="remember-me"><input type="checkbox" name="remember_me" checked value="true">记住我</label>
                        <span class="middot">·</span>
                        <button class="unable-login" type="button">无法登录？</button>
                        <button type="button" class="js-show-sns-buttons is-visible">社交帐号登录</button>
                    <div class="sns-buttons">
                        <button type="button" class="wechat"><span class="ico sprite-global-icon-wechat-gray"></span>微信</button>
                        <button type="button" class="weibo"><span class="ico sprite-global-icon-weibo-gray"></span>微博</button>
                        <button type="button" class="qq"><span class="ico sprite-global-icon-qq-gray"></span>QQ</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" class="login-sms-verification-template">
        <div class="title">
            <h1>为保护你的帐号安全，请验证手机</h1>
            <h2>短信验证码已发送至以下号码</h2>
        </div>
        <div class="view">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="phone_num" aria-label="手机号" placeholder="手机号" required disabled>
                </div>
                <div class="input-wrapper verification-code">
                    <input type="text" name="verification_code" aria-label="验证码" placeholder="6 位数验证码" maxlength="6" required>
                    <button type="button" class="send-code">重发验证码</button>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">登录</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" class="unable-login-template">
        <div class="title start">
            <h1>无法登录</h1>
            <h2>我们提供两种方式帮助你重新登录牛客</h2>
        </div>
        <div class="view start">
            <button class="blue-button reset-password">找回密码</button>
            <button class="blue-button sms-login">使用手机验证码登录</button>
        </div>
        <div class="title reset-password-verification">
            <h1>找回密码</h1>
            <h2>验证码将会发送至你的注册邮箱或手机</h2>
        </div>
        <div class="view reset-password-verification">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="account" class="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required>
                </div>
                <div class="input-wrapper captcha-module" data-type="en" >
                    <input id="captcha" name="captcha" placeholder="验证码" required data-rule-required="true" data-msg-required="请填写验证码">
                    <div class="captcha-container">
                        <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
                    </div>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">获取验证码</button>
                </div>
            </form>
        </div>
        <div class="title reset-password">
            <h1>重设密码</h1>
            <h2>验证码将会发送至你的注册邮箱或手机</h2>
        </div>
        <div class="view reset-password">
            <form action="/resetpassword/email">
                <div class="input-wrapper">
                    <input type="text" name="account" class="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required>
                </div>
                <div class="input-wrapper toggle-password">
                    <input type="password" hidden>
                    <input type="password" name="password" aria-label="新密码" placeholder="新密码" required>
                    <span class="z-ico-show-password"></span>
                </div>
                <div class="input-wrapper verification-code">
                    <input type="text" name="verification_code" aria-label="邮箱收到的" placeholder="邮箱收到的 6 位数验证码" maxlength="6" required>
                    <button type="button" class="send-code">重发验证码</button>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">重设密码</button>
                </div>
            </form>
        </div>
        <div class="title sms-login-verification">
            <h1>登录牛客</h1>
            <h2>验证码将会发送至你的手机</h2>
        </div>
        <div class="view sms-login-verification">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="phone_num" aria-label="手机号" placeholder="手机号" required>
                </div>
                <div class="input-wrapper captcha-module" data-type="en" >
                    <input id="captcha" name="captcha" placeholder="验证码" required data-rule-required="true" data-msg-required="请填写验证码">
                    <div class="captcha-container">
                        <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
                    </div>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">获取验证码</button>
                </div>
            </form>
        </div>
        <div class="title sms-login">
            <h1>登录牛客</h1>
            <h2>输入你收到的 6 位数短信验证码</h2>
        </div>
        <div class="view sms-login">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="phone_num" aria-label="手机号" placeholder="手机号" required>
                </div>
                <div class="input-wrapper verification-code">
                    <input type="text" name="verification_code" aria-label="验证码" placeholder="6 位数验证码" maxlength="6" required>
                    <button type="button" class="send-code">重发验证码</button>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">登录牛客</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" class="oauth-register-template">
        <div class="title register">
            <h1>填写姓名</h1>
            <h2>请填写你的真实姓名</h2>
        </div>
        <div class="view register">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="fullname" aria-label="姓名" placeholder="姓名" required>
                </div>
                <div class="input-wrapper captcha-module" data-type="en" >
                    <input id="captcha" name="captcha" placeholder="验证码" required data-rule-required="true" data-msg-required="请填写验证码">
                <div class="captcha-container">
                    <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
                </div>
                </div>
                <div class="submit-wrapper">
                    <button class="submit blue-button">进入牛客</button>
                </div>
            </form>
        </div>
        <div class="title bound">
            <h1>登录牛客</h1>
            <h2>该微博曾绑定过以下帐号</h2>
        </div>
        <div class="view bound">
            <img src="" width="50px" height="50px">
            <span class="name"></span>
            <button class="blue-button bind-login">绑定此帐号并登录</button>
            <button class="button register">不绑定，用微博创建新帐号</button>
        </div>
        <div class="title registered">
            <h1>微博邮箱已注册牛客</h1>
            <h2>已注册至如下帐号</h2>
        </div>
        <div class="view registered">
            <img src="" width="50px" height="50px">
            <span class="name"></span>
            <button class="blue-button bind-login">绑定此帐号并登录</button>
            <button class="button register">不绑定，用微博创建新帐号</button>
        </div>
        <div class="title bind-login">
            <h1>登录牛客</h1>
            <h2>与世界分享你的知识、经验和见解</h2>
        </div>
        <div class="view bind-login">
            <form>
                <div class="input-wrapper">
                    <input type="text" name="account" class="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required disabled>
                </div>
                <div class="input-wrapper toggle-password">
                    <input type="password" name="password" aria-label="密码" placeholder="密码" required>
                    <span class="z-ico-show-password"></span>
                </div>
                <div class="actions">
                    <button class="unable-login" type="button">无法登录？</button>
                    <button class="submit blue-button">绑定并登录</button>
                </div>
            </form>
        </div>
    </script>
    <div id="particles">
        <canvas class="particles-js-canvas-el" width="1366" height="608" style="width: 100%; height: 100%;"></canvas>
    </div>
</body>
</html>